{{#partial "content"}}

    <div class="card" style="background-color: rgb(85,85,85);" >
        <div class="card-body">
            <div class="success">
                <h2 style="color:blue;">Success!!!</h2>
                <h5><a href="/animals" class="btn btn-success">Animals</a></h5>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}