{{#partial "content"}}

    <div class="container home">
        <div class=" intro">
            <h2 style="text-align:center; margin-top:80px;">WELCOME TO WILDLIFE TRACKER</h2>
            <br>
            <h3>Be part of this inspiring project</h3><br><br>
            <h4>HELP THEM FIND A HOME!</h4>
            <div class="wrapper">
                <p><a href="/animals/new" class="btn btn-secondary">Add Animals</a> &nbsp;&nbsp;&nbsp;<a href="/sightings/new" class="btn btn-secondary">Add Sightings</a></p>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}