{{#partial "content"}}

    <div class="card" >
        <div class="card-body">
            <div class="success">
                <h2 style="color:blue;">Success!!!</h2>
                <h5><a href="/animals" class="btn btn-primary">Animals</a></h5>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}