{{#partial "content"}}

    <div class="card" style="background-color: rgb(239,122,68);">
        <div class="card-body">
            <h1 style="color:black;">Create a new Sighting</h1>
            <form action="/sightings" method="post">
                <div class="form-group" >
                        <label for="name" style="color:black;">Ranger's Name </label>
                        <input type="text" class="form-control "  id="name" name="name" required>
                </div>
                <br>
                <div class="form-group" >
                    <label for="name" style="color:black;">Animal's Name </label>
                    <input type="text" class="form-control "  id="name" name="name" required>
                </div>
                <br>
                <div class="form-group">
                    <select id="location" name="location" type="text" class="form-control" required>
                        <option value="Zone A">Location</option>
                        <option value="Zone A">Near the Lake</option>
                        <option value="Zone B">SE Quadrant</option>
                        <option value="Zone C">Zone A</option>
                        <option value="Zone D">Around NW Quadrant</option>

                    </select>
                </div>
                <br>
                <button class="btn btn-success" type="submit" >Add</button>
            </form>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}